html {
    box-sizing: border-box;
    height: 100%
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    /* 14px is the minimum size at the smallest viewport width of 300px and where 20px is the maximum size at the largest viewport width of 1600px */
    font-size: calc(14px + (20- 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.5em + (2 - 1.5) * ((100vw - 300px)/(1600 - 300)));
  }
.grow {
    flex: 1;
}
.main {
    overflow-y: auto;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.banner-text-custom{
    line-height: 80px;
    font-style: italic;

    animation-name: moveInLeft;
    animation-duration: 2s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {

  }

  100% {
    opacity: 100;
    transform: translate(0);
  }
}

/* header banner image */
header.banner {
    position: relative;
    /* background-color: #343a40; */
    background: url("../assets/images/bg-banner.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
  /* header.banner .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  } */

/* --- top nav ---*/
.navbar-brand {
    font-family: 'Abril Fatface', serif;
    font-size: 36px;
    font-weight: 200;
    color: #FFA400;
    /* color: #275776; */
}
.navbar-brand h1 {
  /* color: #ffffff; */
  color: #FFA400;
  /* color: #275776; */
  text-decoration: none;
}
.header-navbar-custom {
    /* background-color: #275776; */
    background-color: #ffffff;
}
.navbar a {
    /* color: #ffffff; */
    /* color: #000000; */
    color: #FFA400;
    /* color: #275776; */
    text-decoration: none;
} 
.navbar-nav .nav-item a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.navbar-nav a:link {
    /* color: #d3d3d3; */
    color: #000000;
}
.navbar-nav a:hover {
    color: #d3d3d3;
    border-bottom: 1px solid #f3eaea;
    /* border-bottom: 1px solid #FFA400; */

}
/* --- footer blincyto primary --- */
.footer-custom {
    /* background-color: #A1BBCC; */
    background-color: #ffffff;
    border-top: 1px solid #d3d3d3;
}

/*--- showcase style */
.showcase .showcase-text {
    padding: 3rem;
  }
  
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  
  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }
  
  .features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .features-icons .features-icons-item {
    max-width: 20rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
  }
  
  .features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
  }

  .features-icons .features-icons-item .icon-screen-desktop {
    color: #FFA400;
  }

  .features-icons .features-icons-item .icon-layers {
    color: #FFA400;
  }

  .features-icons .features-icons-item .icon-check {
    color: #FFA400;
  }