<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SXA Showcase Demo</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300,700" rel="stylesheet">
    <!-- Bootstrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/showcase-main.css">
    <link rel="stylesheet" href="../css/showcase-component.css">
</head>

<body>

<!-- top navigation -->
<div class="container-fluid header-navbar-custom">
    <div class="row grow w-100">
        <div class="col-sm-2 col-lg-12 py-1">

            <nav class="navbar navbar-expand-lg text-white">
                <h1><a href="../index.html" class="navbar-brand">SXA Showcase</a></h1>

                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav text-nowrap">
                    <li class="nav-item">
                        <a href="carousel.html" class="nav-link">COMPOSITES</a>
                    </li>
                    <li class="nav-item">
                        <a href="../context.html" class="nav-link">CONTEXT</a>
                    </li>
                    <li class="nav-item">
                        <a href="../engagement.html" class="nav-link">ENGAGEMENT</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">EVENTS</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">FORMS</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">MAPS</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">MEDIA</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">NAVIGATION</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">PAGE CONTENT</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">PAGE STRUCTURE</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">SEARCH</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">SECURITY</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">SOCIAL</a>
                    </li>
                </ul>
                </div>
            </nav>

        </div>
    </div>
</div>

<!-- middle body: left sidebar menu and right content area -->
<div class="container-fluid">
    <div class="row grow w-100">
        <!-- sidebar menu -->
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 px-0 min-vh-100 sidebar">
            <div class="sticky-top flex-grow-1">
                <div class="nav flex-md-column">
                    <header>
                        <a href="#">COMPOSITES</a>
                    </header>
            
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="accordion.html">Accordion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="carousel.html">Carousel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="flip.html">Flip</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Snippet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tabs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main col-xs-9 col-sm-8 col-md-6 col-lg-10 py-3">
            <h2>Accordion</h2>
            <p class="mb-5">The Accordion rendering lets you stack a list of collapsible sections either vertically or horizontally. You can use an accordion to display FAQs, sets of thumbnails, or divide longer documents in sections. Each section can be expanded to reveal the content associated with that item.</p> 

            <!-- accordion demo -->
            <div class="accordion col-xs-9 col-sm-8 col-md-6 col-lg-3" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Collapsible Group Item #1
                        </button>
                    </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                        </button>
                    </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Collapsible Group Item #3
                            </button>
                        </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                        </div>
                    </div>
                </div>
             <!-- add accordion instruction steps -->   
            <h5 class="mt-5">To configure an Accordion rendering, follow these steps:</h5>
            <ol>
                <li>Under <strong>Data</strong> folder:
                    <ul>
                        <li>Create Accordion datasource</li>
                        <img src="../assets/sitecore/accordion-datasource.png">
                    </ul>
                </li>
                <li>Drag and drop the Accordion rendering to the page</li>
                <li>In the <strong>Select the Associated Content</strong> dialog box:
                    <ul>
                        <li>To select an existing content item, click Select Existing Content, then click the content item that you want and click OK.</li>
                        <img src="../assets/sitecore/accordion-setup-01.png">
                    </ul>
                </li>
                <li>You can add accordion items and change their order by using buttons in the toolbar</li>
                <li>For more details, see <a href="https://doc.sitecore.com/users/sxa/18/sitecore-experience-accelerator/en/add-accordion-and-tabs.html" target="_blank">Sitecore documentation</a></li>
            </ol>
        </div>

    </div>
</div>

<!-- footer -->
<footer class="footer-custom">
    <div class="container-fluid py-4">
      <!-- Copyright -->
      <p class="text-center">&copy;2020 Amgen, Inc. All rights reserved.</p>
    </div>
</footer>

<!-- JS files: jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>